.create-card {
    background-color: white;
    width: 100%;
}

.create-card.header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.create-card.menu {
    display: flex;
    width: 100%;
    border-bottom: 1px solid gray;
}

.create-card.menu-item{
    box-sizing: border-box;
    padding: 5px;
    border-right: 1px solid gray;
    margin-bottom: 10px;
    margin-top: 10px;
}

.create-card.menu-item:last-child{
    border: none;
}

.close-sign {
    width: 20px;
    height: 20px;
}
